<page title="Installation"
navbar-install="active"
>
<prepare-toc depth="2">
<toc></toc>
<section id="deps" title="Dependencies">
<p>
To build Stog, you will need:
</p>
<ul>
<li><ext-a href="http://caml.inria.fr/">OCaml >= 4.00</ext-a> installed,</li>
<li><ext-a href="http://config-file.forge.ocamlcore.org/">Config-file >= 1.1</ext-a>.</li>
<li><ext-a href="http://erratique.ch/software/xmlm">Xmlm >= 1.1.0</ext-a>,</li>
<li><ext-a href="http://zoggy.github.com/ocamlrss/">OCaml-RSS >= 2.0</ext-a>,</li>
<li><ext-a href="https://github.com/zoggy/xtmpl">Xtmpl >= 0.4</ext-a>.</li>
</ul>
<p>
You will need to have the following tools installed to use
some functions:
</p>
<ul>
<li><ext-a href="http://www.andre-simon.de/doku/highlight/en/highlight.html">highlight</ext-a>
to use syntax highlighting,</li>
<li>LaTeX and <ext-a href="http://dvisvgm.sourceforge.net/">dvisvgm</ext-a> to embed
LaTeX in your pages.</li>
</ul>
</section>

<section id="download" title="Get the sources">
<p>Get the sources from git repository:
<command-line>git clone https://github.com/zoggy/stog.git</command-line>
</p>
<subsection title="Releases">
<ul>
<li><a href="stog-0.4.tar.gz">0.4</a> [2012-11-21]:
<ul>
<li>handle relative paths in <icode>&lt;include&gt;</icode>, when starting with
  <icode>.</icode> or <icode>..</icode>,</li>
<li>use a separate tool to evaluate ocaml code, "stog-ocaml-session";
   this allows to use native code version of stog even when evaluating
   ocaml code; it also makes possible to use distinct ocaml toplevels in
   ocaml-eval (with session="..."); details <elt href="ocaml-sessions">here</elt>,</li>
<li>add simple cache system, and option <icode>--nocache</icode>,</li>
<li>new <icode>&lt;inc&gt;</icode> rule to include a block from another
  element: <icode lang="xml">&lt;inc elt-hid="/install" id="blockid"/&gt;</icode>,
</li>
<li>ability to define "functions", site-wide or element-wide,</li>
<li>handle blocks and counters,</li>
<li>sectionning now uses blocks and counters,</li>
<li>a "sectionning" attribute is used to determine which nodes are used for
  sectionning an element; default is "section,subsection",</li>
<li>verify references to blocks by id (sections, ...) and use their title in links,</li>
<li>use "id" attribute instead of "name" attribute in sectionning tags,</li>
<li>define and use levels of rules; plugins can extend the number of levels
    to define their own rewriting system.</li>
</ul>
</li>
<li><a href="stog-0.3.tar.gz">0.3</a> [2012-08-30]:
<ul>
<li>new stage 0 to allow plugins to change the stog structure before generating,</li>
<li>new fields <icode>elt_xml_doctype</icode>, <icode>elt_out</icode> in
<a href="&lt;site-url/&gt;/ref-doc/Stog_types.html#TYPEelt"><icode>elt type</icode></a>,</li>
<li>handle doctype attribute in element description,</li>
<li>define and use stage1 and stage 2 functions for plugins,</li>
<li>more .mlis file and comments in the library.</li>
</ul>
</li>
<li><a href="stog-0.2.tar.gz">0.2</a> [2012-08-28]:
Change the format of files, now all in XML. Config and templates are in <icode>.stog</icode>
directory. Less templates required. User can define elements of any "type" (post, page, ...).
</li>
<li><a href="stog-0.1.tar.gz">0.1</a> [2012-06-20]: Initial release.</li>
</ul>
</subsection>
</section>

<section id="compilation" title="Compilation">
<p>
Just type
<command-line>make &amp;&amp; make install</command-line>
This will install <icode>stog</icode> and <icode>stog.byte</icode>
in the same directory as <icode>ocamlc</icode>. This will also
install the <tt>stog</tt> library and the
<tt>stog.disqus</tt> and <tt>stog.markdown</tt> plugins, with findlib.
</p>
</section>

</prepare-toc>
</page>
