
@eltRightMargin: 190px;

.rounded-box (@border-color: @color2, @bgcolor: @color3) {
  padding: 0 3px 2px;
  border: 1px solid @border-color;
  display: block;
  .border-radius(4px);
  background-color: @bgcolor;
}

.sidebox {
  .rounded-box  (@fgcolor, lighten(@color3, 20)) ;
  padding: 0.5em;
  margin-bottom: 1em;
}

html { margin: 0 ; padding: 0 ;height: 100% ; }

body {
  /* #gradient > .vertical(@color1, @color2); */
  font-family : @baseFontFamily;
  font-size: @baseFontSize ;
  line-height: @baseLineHeight;

  background-color: darken(@bgcolor, 10) ;
  color: @fgcolor ;
  height: 100%;
  margin: 0 ;
  padding: 0 ;
}

/*p { margin-top: 0.2em; }*/

/*
footer#bottombar {
  position: fixed ;
  bottom: 0px;
  width: 100%;
  }

*/

div#page {
  background-color: @bgcolor ;
  color: #666666 ;
  width: 700px;
  margin-left: auto ;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1px;
  line-height: 1.4;
  border-width: 0 1px 0 1px ;
  border-style: solid ;
  border-color: @fgcolor;
  min-height: 100% ;
  text-align: justify ;
}

div#header {
  padding-top: @navbarHeight + 4px;
  margin-bottom: 0.5em;
}

div#navpath {
  height: 30px;
  }


a:link {
  text-decoration:underline;
  color: @linkColor;
}
a:visited {
  text-decoration:none;
  color: @linkColorVisited;
}
a:hover {
  /*text-decoration:underline;*/
  color: @linkColorHover ;
}

div#site-title {
  text-align: left;
  font-size: 20pt;
}
div#site-title a {
  text-decoration: none ;
  border-width: 0 ;
  }

div.page-title {
  font-size: 20pt;
  text-align: left ;
}

div.center {
  text-align: center ;
}

div#elt-body {
  text-align: justify;
  margin-bottom: 2em;
  margin-right: @eltRightMargin;
}

div#elt {
/*
  margin-left: 1em;
  margin-right: 1em;
*/
}

h1 { font-size: 16pt;
  color: #555555 ;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  }

div.section-title {
  font-size: 14pt;
  margin-bottom: 0.3em;
  margin-top: 1.5em;
  border-bottom: 1px solid @fgcolor;
}

div.subsection { margin-top: 1.5em ; padding-left: 1em;}
div.subsection-title {
  margin-left: -1em;
  font-size: 13pt ;
  font-weight: bold;
  margin-top: 0.8em;
  }

div.date {
  font-style: italic ;
  color: #555555;
  font-size: 90%;
}

div.site-desc {
  font-style: italic ;
  text-align: center ;
/*  margin-top: 1em;*/
  margin-bottom: 1em;
  padding-left: 2em ;
  padding-right: 2em ;
  padding-bottom: 1em;
  border-width: 0 0 1px 0 ;
  border-color: #DDDDDD ;
  border-style: solid ;
}

div.blogbody {

}

div.elt-item {
  margin-bottom: 1.5em;
/*
  border-width: 0 0 0 2px ;
  border-style: solid ;
  border-color: #550000;
*/
}
/*div.elt-item:hover { background-color: #CCCCCC ; }*/

div.elt-item-title { font-size: 150% ; }
div.elt-item p {
  display: inline ;
  }
div.elt-intro { margin-top: 4px }

img.img { border-width: 0 ; margin-bottom: 0;}
div.img { text-align: center ; }
a img { border-width: 0 }
div.img-float-left {
  position: relative ;
  float: left ;
  margin-right: 1em;
}
div.img-float-right {
  position: relative ;
  float: right ;
  margin-left: 1em ;
  }

img.latex {
  vertical-align: text-top;
}

span.unknown-ref { color: #AAAAAA ; }

div.bloc-keywords {
  padding: 4px;
  color: #555555 ;
  margin-left: 1em;
}

div.keywords {
  font-style: italic ;
  display: inline ;
}

div.elt-keywords {
  .sidebox ;
  margin-left: 1em;
  margin-right: @eltRightMargin ;
}

div#archives {
  .sidebox;
}

div#graph {
  .sidebox ;
}

div#archives ul {
  padding-left: 1em;
}

div.photo-legend {
  margin-bottom: 0.8em;
  text-align: center ;

}
div.legend {
  margin-top: 1px;
  text-align: center;
  font-style: italic ; font-size: 80% ;
  margin-bottom: 1.5em;
  }


div.quote {
  margin-top: 2em;
  margin-left: 3em;
  margin-right: 3em ;
  font-style: italic ;
  color: #777777;
  }

div.comments {
  margin-top: 1.5em;
  margin-right: @eltRightMargin;
}

div.subcomments {
  margin-left: 3em ;
}

div.comment-info {
  padding-left: 0.5em;
  padding-top: 0.3em;
  font-weight: bold;
  background-color: #EEEEEE ;
  }

div.comment-actions {
  position: relative ;
  float: right ;
  }
div.root-comment-actions {
  position: relative ;
/*  float: left ;*/
  display: inline ;
  }
div.comment {
  font-family: arial ;
  font-size: 9pt;
  border-style: dashed solid solid solid ;
  border-width: 1px 0 0 2px ;
  border-color: #555555;
}

div.comment-subject {
  /*font-weight: bold ;*/
  color: green ;
}

div.comment-date {
}

pre.comment-body {
  white-space: pre-line ;
  padding-left: 0.5em;
  padding-top: 0.3em;
  margin-bottom: 0;
}

div.comment-expand {
  display: none ;
}

div.comment-citation {
  white-space: pre-line ;
  background-color: #EEE ;
  font-style: italic;
}

div.dsq-clearfix::after {
  clear: none;
}

div.rss-button {
  position: relative;
  float: right;
}

div.search {
  font-size: 10pt ;
  margin-bottom: 1em;
}

input.button {
  border-width: 0;
  color: #2288bb;
  text-decoration: underline;
  background-color: transparent ;
  margin-bottom: 3px;
  margin-left: 0;
  padding-left: 0;
  }
input.search-text {
  width: 125px;
  margin-left: auto;
  margin-right: auto;
  background-color: #d2f4f1;
  color: #555555;
}
div.search {
  .sidebox ;
}
div.sidebar {
  position: relative ;
  float: right ;
  width: 170px;
  margin-left: 1em;
  text-align: left ;
  }

span.striked {
  text-decoration: line-through ;
  }

@import "highlight.less";

pre div.ocaml-toplevel {
  color: lighten(@fgcolor, 6);
}

pre div.ocaml-exc {
  color: @errorText ;
  font-weight: bold ;
}

div.two-columns {
  display: block ;
}

td.two-columns-left {
  vertical-align: top ;
  padding-right: 0.5em ;
}

td.two-columns-right {
  vertical-align: top ;
  padding-left: 0.5em;
}

div.n-columns {
  display: block ;
}

td.n-columns {
  vertical-align: top ;
  ul {
    list-style-type: none ;
    li {
      margin-left: -1em;
    }
  }
}


// navbar:  overriding some of navbar.less
.navbar {
  .brand {
    font-size: 13px ;
    padding-top: 5px;
    padding-left: 24px;
    font-weight: bold;
   }
  a.brand { text-decoration: none ; }

}

.navbar-fixed-top .navbar-inner {
  height: @navbarHeight;
  padding-top: 4px;
  }

/*
.navbar .nav > li  {
  margin-top: 6px;
  line-height: 10px;
}

.navbar .nav > li > a  {
  line-height: @navbarHeight ;
}
*/

div.elt-navbar {
  width: 100%;
  border-width: 0 0 0 0;
  border-style: solid ;
  border-color: #DDDDDD ;
  padding-bottom: 0.5em;
  text-align: justify;
  overlfow: auto;
  height: 20px;
  }

div.navleft {
  position: relative;
  float: left;
  background-image: url('left.png') ;
  background-repeat: no-repeat;
  background-position:left top;
  padding-left: 18px;
}

div.navright {
  position: relative;
  float: right;
  text-align: right ;
  background-image: url('right.png') ;
  background-repeat: no-repeat;
  background-position:right top;
  padding-right: 18px;
    }

div#rssfeed { margin-left: -3em; width: 450px; }
ul.RVHFEED {
}
ul.RVHFEED_class li {
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 0.8em;
}

ul.RVHFEED_class sub {
  float: left ;
  font-weight: bold;
  padding-right: 0.5em;
  margin-top: 0.3em;
}
.ext-a {
  padding-right: 12px;
  background-image: url('extlink.png') ;
  background-repeat: no-repeat ;
  background-position: right ;
}
ul.RVHFEED_class a {
  .ext-a ;
}

ul.RVHFEED_class li div {
  margin-left: 2.5em;
  font-style: italic ;
  line-height: 1em;
  text-align: justify ;
}

p.tiny { color: #ACACAC ; text-align: right ; font-size: 70%; }

// toc
ul.toc { margin-top: 0px; }
ul.toc {
  margin-left: 0px;
  padding-left: 4px ;
  list-style-position: inside;
}
li ul.toc {
 padding-left: 1em;
}
ul.toc li {
 list-style-type: none ;
}
ul.toc li:before {
	content: "\00BB \0020";
	color: @color2;
	}
ul.toc li a { text-decoration: none; }
ul.toc {
  li.toc-subsection { font-size: 80%; }
}

.code-sh { background-color: darken(#f7f7f9,15); }
span.icode {
   #font > #family > .monospace;
  font-size: @baseFontSize - 1;
  color: @grayDark;
  padding: 0;
}
// releases
table.release {
  .sidebox ;
  }
td.release-number {
  vertical-align: top ;
  padding-right: 0.5em ;
  width: 120px;
}

td.release-desc {
  vertical-align: top ;
  padding-left: 0.5em;

}

// link line
ul.links {
  min-width: 50px;
 .rounded-box;
}
ul.links li {
  margin-left: 2em;
  display: inline;
}

div#pagesource {
  display: none
  }

div#pagesource:target {
  display: block;
}

@media print {
div.sidebar {
  display: none ;
  position: normal;
  }
div#page {
  /*width: 100% ;*/
  height: 100%;
  }

div.navbar {
  display: none
  }

div#elt-body {
  margin-right: 0 ;
  }
}