<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
<!--<image float="right" src="&lt;site-url/&gt;/stog-logo.svg" width="30"/>-->
<env_ mainpage="&lt;site-url/&gt;/index.html">
  <ul class="nav">
    <li class="&lt;navbar-home/&gt;"><a href="&lt;mainpage/&gt;">Stog</a></li>
    <li class="&lt;navbar-install/&gt;"><page href="install">Installation</page></li>
    <li class="&lt;navbar-doc/&gt;"><page href="doc">Documentation</page></li>
    <li class="&lt;navbar-blog/&gt;"><page href="blog">Blog</page></li>
    <li class="&lt;navbar-about/&gt;"><page href="about">?</page></li>
  </ul>
  <div class="nav pull-right">
<!--
  <ul class="nav">
   <li><div class="langswitches"><langswitch languages="fr,en"/></div></li>
  </ul>
-->
  </div>
</env_>
</div>
</div>
</div>
